<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.leedh.mapper.PjtMapper">

    <!--프로젝트 등록-->
    <insert id="pjtRegister">

       INSERT INTO FL_PJT
       VALUES(SEQ_PJT_NO.NEXTVAL,
       		  #{pjtCd},
       		  #{pjtNm},
       		  #{orgSeq},
       		  #{preStrDay},
       		  #{preEndDay},
       		  null,
       		  null,
       		  #{pjtStatCd},
       		  '등록자사번',
       		  to_char(sysdate, 'yyyy.mm.dd hh24:mi'),
   			  null,
   		 	  null)   
    </insert>


    <!-- 프로젝트 전체 호출 -->
    <select id="pjtShow" parameterType="PjtVO" resultType="PjtVO">

    SELECT	PJT_SEQ 		as pjtSeq,
    		PJT_CD  		as pjtCd, 
    		PJT_NM			as pjtNm,
    		ORG_SEQ			as orgSeq,
    		PRE_STR_DAY		as preStrDay,
    		PRE_END_DAY		as preEndDay,
    		REL_STR_DAY		as relStrDay,
    		REL_END_DAY		as relEndDay,
    		PJT_STAT_CD		as pjtStatCd,
    		REG_ID			as regId,
    		REG_DT			as regDt,
    		CHG_ID			as chgId,
    		CHG_DT			as chgDt
    FROM FL_PJT
    </select>

	<!--  프로젝트 수정 -->
	<update id="pjtEdit">
 	update FL_PJT
	set PJT_CD			= #{pjtCd},
		PJT_NM			= #{pjtNm},
		ORG_SEQ			= #{orgSeq},
		PRE_STR_DAY		= #{preStrDay},
		PRE_END_DAY		= #{preEndDay},
		REL_STR_DAY		= #{relStrDay},
		REL_END_DAY		= #{relEndDay},
		PJT_STAT_CD		= #{pjtStatCd},
		CHG_ID			= '수정자사번ID',
	    CHG_DT			= to_char(sysdate, 'yyyy.mm.dd hh24:mi')
		where PJT_SEQ = #{pjtSeq}
	</update>
	
    <!--  프로젝트 삭제  -->
    <delete id="deletePjtCode">
        DELETE
            FL_PJT_CODE
        WHERE NO = #{no}
    </delete>

    <delete id="deletePjt">
        DELETE
            FL_PROJECT
        WHERE NO = #{no}
    </delete>


    <select id="memberunion" parameterType="PjtVO" resultType="PjtVO">
        SELECT PJC.NO         as no,
               PJC.PJT_C      as pjtC,
               PJC.PJT_ST_C   as pjtStC,
               PJT_CLIENT     as pjtClient,
               PJT_NM         as pjtNm,
               PJT_EMP_LIST   as pjtEmpList,
               PJT_PM         as pjtPm,
               PJT_START_DATE as pjtStartDate,
               PJT_End_DATE   as pjtEndDate,
               PJT_END_YN     as pjtEndYn,
               PJC.PJT_ST_C   as pjtStC,
               PJT_ORG_C      as pjtOrgC

        FROM FL_PROJECT PJT
                 JOIN FL_PJT_CODE PJC
                      ON PJT.PJT_C = PJC.PJT_C
        where PJT.PJT_C = PJC.PJT_C
    </select>


</mapper>